/* Theme 1 */

$mainbg: hsl(222, 26%, 31%);
$togglebg:  hsl(223, 31%, 20%);
$screenbg: hsl(224, 36%, 15%);

$keybg: hsl(225, 21%, 49%);
$keyshadow: hsl(224, 28%, 35%);

$redkeybg: hsl(6, 63%, 50%);
$redkeyshadow: hsl(6, 70%, 34%);

$graykeybg:  hsl(30, 25%, 89%);
$graykeyshadow:  hsl(28, 16%, 65%);

$darktext: hsl(221, 14%, 31%);
$white: hsl(0, 0%, 100%);

/*theme 2 */

$mainbgT2: hsl(0, 0%, 90%);
$togglebgT2: hsl(0, 5%, 81%);
$screenbgT2: hsl(0, 0%, 93%);

$keybgT2: hsl(185, 42%, 37%);
$keyshadowT2: hsl(185, 58%, 25%);

$orangekeybgT2: hsl(25, 98%, 40%);
$orangekeyshadowT2: hsl(25, 99%, 27%);

$graykeybgT2: hsl(45, 7%, 89%);
$graykeyshadowT2: hsl(35, 11%, 61%);

$darktextT2: hsl(60, 10%, 19%);
$whiteT2: hsl(0, 0%, 100%);

/*theme 3*/

$mainbgT3: hsl(268, 75%, 9%);
$togglebgT3: hsl(268, 71%, 12%);

$keybgT3: hsl(281, 89%, 26%);
$keyshadowT3: hsl(285, 91%, 52%);

$cyankeybgT3: hsl(176, 100%, 44%);
$cyankeyshadowT3: hsl(177, 92%, 70%);

$violetkeyT3: hsl(268, 47%, 21%);
$violetkeyshadowT3: hsl(290, 70%, 36%);

$yellowT3: hsl(52, 100%, 62%);
$darkblueT3: hsl(198, 20%, 13%);


