@use 'colors';

*{
    font-family: "League Spartan", serif;
    box-sizing: border-box;
}

body{
    background-color: colors.$mainbg;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
}

h3 {
    color: colors.$white;
}

.theme{
    color: colors.$white;
    font-size: 0.6rem;
    margin-left: auto;
    margin-top: 3.5%;
}

.top-container {
    margin-top: 10%;
    display: flex;
    align-items: center;
}


.input {
    background-color: colors.$screenbg;
    width: 40vw;
    height: 14vh;
    border-radius: 5px;
    border: transparent;
    color: colors.$white;
    text-align: right;
    padding-right: 20px;
    font-size: 3rem;
    font-weight: bold;
}

.button-container {
    background-color: colors.$screenbg; 
    width: 40vw;
    height: 55vh;       
    margin-top: 5%;
    border-radius: 5px;
}

.btns {
    display: grid;
    width: 40vw;
    height: 55vh; 
    padding: 2%;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, 20%);
    justify-items: center;
    align-items: center;
}

.btns button {
    border: transparent;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    width: 85%;
    height: 75%;
    box-shadow: 0px 3px 0px colors.$graykeyshadow;
}

.btns button:active {
    background-color: hsl(30, 25%, 100%);
}

.btns .reset-btn:active{
    background-color: hsl(225, 21%, 70%); 
}

.btns .del:active{
    background-color: hsl(225, 21%, 70%);
}

.btns .equals:active{
    background-color: hsl(6, 63%, 55%);;
}

.btns .del{
    color: colors.$white;
    background-color: colors.$keybg;
    box-shadow: 0px 4px 0px colors.$keyshadow;
    font-size: 1.4rem;
}

.btns .reset-btn{
    grid-column: -5 / -3;
    background-color: colors.$keybg;
    color: colors.$white;
    font-weight: bold;
    font-size: 1.2rem;
    width: 92.5%;
    box-shadow: 0px 5px 0px colors.$keyshadow;
}

.btns .equals{
    grid-column: -1 / -3;
    background-color: colors.$redkeybg;
    color: colors.$white;
    font-size: 1.5rem;
    width: 92.5%;
    box-shadow: 0px 5px 0px colors.$redkeyshadow;
}

.slider-container{
    width: 15%;
    float: right;
    display: flex;
    flex-direction: column-reverse;
    margin-left: 3%;
    margin-right: 1%;
}

.slider{
    width: 100%;
    appearance: none;
    height: 20px;
    border-radius: 10px;
    outline: none;
    background-color: colors.$screenbg;
    transition: background-color 0.3s ease;
    padding: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    cursor: pointer;
    background-color: colors.$redkeybg;
    width: 12px;
    height: 12px;
    border-radius: 5px;
    outline: none;
    border: none;
    -webkit-appearance: none;
    appearance: none;
}

.slider-labels{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    color: colors.$white;
    font-size: 0.8rem;
}

.highlight {
    background-color: hsl(6, 63%, 50%);
    color: white;
    box-shadow: 0px 3px 0px hsl(6, 70%, 34%);
  }